webservice-soap/wsdl/CreditCardService.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax21="http://cognizant.com/xsd" xmlns:ns="http://cognizant.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://cognizant.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://cognizant.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cognizant.com">
            <xs:import namespace="http://cognizant.com/xsd"/>
            <xs:element name="validateCreditCard">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cc" nillable="true" type="ax22:CreditCard"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateCreditCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cognizant.com/xsd">
            <xs:complexType name="CreditCard">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ccNumber" type="xs:long"/>
                    <xs:element minOccurs="0" name="cvvNumber" type="xs:int"/>
                    <xs:element minOccurs="0" name="expiryMonth" type="xs:int"/>
                    <xs:element minOccurs="0" name="expiryYear" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateCreditCardRequest">
        <wsdl:part name="parameters" element="ns:validateCreditCard"/>
    </wsdl:message>
    <wsdl:message name="validateCreditCardResponse">
        <wsdl:part name="parameters" element="ns:validateCreditCardResponse"/>
    </wsdl:message>
    <wsdl:portType name="CreditCardServicePortType">
        <wsdl:operation name="validateCreditCard">
            <wsdl:input message="ns:validateCreditCardRequest" wsaw:Action="urn:validateCreditCard"/>
            <wsdl:output message="ns:validateCreditCardResponse" wsaw:Action="urn:validateCreditCardResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditCardServiceSoap11Binding" type="ns:CreditCardServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validateCreditCard">
            <soap:operation soapAction="urn:validateCreditCard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreditCardServiceSoap12Binding" type="ns:CreditCardServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="validateCreditCard">
            <soap12:operation soapAction="urn:validateCreditCard" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreditCardServiceHttpBinding" type="ns:CreditCardServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="validateCreditCard">
            <http:operation location="CreditCardService/validateCreditCard"/>
            <wsdl:input>
                <mime:content type="text/xml" part="validateCreditCard"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="validateCreditCard"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditCardService">
        <wsdl:port name="CreditCardServiceHttpSoap11Endpoint" binding="ns:CreditCardServiceSoap11Binding">
            <soap:address location="http://localhost:8080/TestWeb/services/CreditCardService.CreditCardServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditCardServiceHttpSoap12Endpoint" binding="ns:CreditCardServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/TestWeb/services/CreditCardService.CreditCardServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CreditCardServiceHttpEndpoint" binding="ns:CreditCardServiceHttpBinding">
            <http:address location="http://localhost:8080/TestWeb/services/CreditCardService.CreditCardServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
