webservice-soap/Examples/AxisWSDL2Java/src/META-INF/math.wsdl

<definitions name='MathService' targetNamespace='http://ws.math.cts.com/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://ws.math.cts.com/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://ws.math.cts.com/' version='1.0' xmlns:tns='http://ws.math.cts.com/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='add' type='tns:add'/>
   <xs:element name='addResponse' type='tns:addResponse'/>
   <xs:element name='multiply' type='tns:multiply'/>
   <xs:element name='multiplyResponse' type='tns:multiplyResponse'/>
   <xs:element name='subract' type='tns:subract'/>
   <xs:element name='subractResponse' type='tns:subractResponse'/>
   <xs:complexType name='add'>
    <xs:sequence>
     <xs:element name='num1' type='xs:int'/>
     <xs:element name='num2' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='addResponse'>
    <xs:sequence>
     <xs:element name='sum' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='multiply'>
    <xs:sequence>
     <xs:element name='num1' type='xs:int'/>
     <xs:element name='num2' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='multiplyResponse'>
    <xs:sequence>
     <xs:element name='result' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='subract'>
    <xs:sequence>
     <xs:element name='num1' type='xs:int'/>
     <xs:element name='num2' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='subractResponse'>
    <xs:sequence>
     <xs:element name='difference' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='Math_multiply'>
  <part element='tns:multiply' name='multiply'></part>
 </message>
 <message name='Math_subract'>
  <part element='tns:subract' name='subract'></part>
 </message>
 <message name='Math_subractResponse'>
  <part element='tns:subractResponse' name='subractResponse'></part>
 </message>
 <message name='Math_add'>
  <part element='tns:add' name='add'></part>
 </message>
 <message name='Math_addResponse'>
  <part element='tns:addResponse' name='addResponse'></part>
 </message>
 <message name='Math_multiplyResponse'>
  <part element='tns:multiplyResponse' name='multiplyResponse'></part>
 </message>
 <portType name='Math'>
  <operation name='add' parameterOrder='add'>
   <input message='tns:Math_add'></input>
   <output message='tns:Math_addResponse'></output>
  </operation>
  <operation name='multiply' parameterOrder='multiply'>
   <input message='tns:Math_multiply'></input>
   <output message='tns:Math_multiplyResponse'></output>
  </operation>
  <operation name='subract' parameterOrder='subract'>
   <input message='tns:Math_subract'></input>
   <output message='tns:Math_subractResponse'></output>
  </operation>
 </portType>
 <binding name='MathBinding' type='tns:Math'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='add'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='multiply'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='subract'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='MathService'>
  <port binding='tns:MathBinding' name='MathPort'>
   <soap:address location='http://127.0.0.1:8080/MathWS/Math'/>
  </port>
 </service>
</definitions>